<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRODUCTOS</title>
</head>
<body>
    <form method="POST" action="/registro">

        <label style="text-decoration: solid; color:blue">
            Ingrese su nombre:
        </label>
        <br>

        <input type="text" name="estudiante"> 
        <br>

        <label>
            Ingrese su correo:
        </label>
        <br>

        <input type="email" name="correo">
        <br>

        <label>
            Ingrese su contraseña:
        </label>
        <br>

        <input type="password" name="contrasena">
        <br><br>

        <button type="submit">
            Matricular estudiante
            
        </button>
    </form>
</body>
</html>